* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-size: 14px; */
  line-height: 1.42857143;
}

/* header  */


/* part -1 
    form container */

.form-box {
  width: 100%;
  height: auto;
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  position: relative;
}

/* part -2 
    form header */

.form-box h3 {
  margin-bottom: 15px;
  text-align: center;
  color: #39b7dd; /*#ff571e*/
  text-transform: uppercase;
  font-size: 18px;
}

/* part -2 
    form label */

.form-box label {
  margin-top: 10px;
  margin-bottom: 2px;
}
.form-box .col-1 {
  position: relative;
  display: flexbox;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.form-box .col-2 {
  position: relative;
  display: flexbox;
  float: right;
  width: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

/* part -2 
    form input box  */

.form-box input,
textarea {
  border-radius: 0px;
  /* border: 1px solid #eaeaea; */
  border: 0.2px solid #39b;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
  width: 100%;
}

.form-box input:active {
  background: #39b;
}

.form-control {
  padding: 8px;
  border-radius: 0;
  border: 2px solid rgba(0, 0, 0, 0.12);
  width: 30%;
  height: 30px;
}

.space {
  padding: 5px;
  width: 150px;
  color: red;
}

/* part -2 
    form button */

.form-box .btn-l {
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  border-color: #39b7dd;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}
