*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* part 1
    header for My Account */

ul{
    width: 100%;
    background:  #0082e6;
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: sticky;
    top: 0;
    left: 0;
}
ul li a{
    text-decoration: none;
    font-family: sans-serif;
    text-transform: capitalize;
    display: inline-block;
    margin: 0px 20px;
    padding: 20px;
    color: white;
    font-weight: bold;
}
ul li a:hover{
    background-color:#1b9bff;
}

/* part 2
    banner image for old books 
*/

.img-box
{
height: 200px;
width: 100%;
background: red;
margin-top: 2%;
}
    
.img-box img 
{
    height: 200px;
    width: 100%;
}
