*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}




/* part 2 search box  */

.cont-2
{
    height: 200px;
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 5%;
}

/* search box creation */


.cont-2 .search-box
{
    width: 70%;
    margin-left: 20%;
    display: flex;
}

.cont-2 .search-box input
{
    height: 40%;
    width: 70%;
    border: none;
    outline: none;
    padding: 0px 0px;
    color: #1b9bff;
    font-size: 18px;
    border: 2px solid #1b9bff;
    border-radius: 5px 5px 5px 5px;
}

.cont-2 .search-box label.icon
{
    width: 25%;
    height: 40%;
    font-size: 20px;
    padding: 2%;
    color: #fff;
    text-align: center;
    background: #1b9bff;
    border-radius: 0 5px 5px 0;
}

.cont-2 .search-box label.icon:hover
{
    cursor: pointer;
    background: red;
}



/* part 2
    banner image for old books */

    .img-box
    {
        height: 200px;
        width: 100%;
        margin-top: 2%;
    }
    
    .img-box img 
    {
        height: 200px;
        width: 100%;
    }


/* part 3
    button for user account */

.c-btns
{
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    border: 0px solid black;
    border-radius: 5px 5px 5px 5px;
}

.c-btns p
{
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

.c-btns button
{
    padding: 8px;
    font-size: 18px;
    text-align: center;
    border: 0;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 5px;
    width: 16%;
    color: #fff;
    background: #1b9bff;
}

.c-btns button:hover
{
    background: red;
    cursor: pointer;
}




